<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New</title>
</head>
<body>
    <h1>Add a new Corgi</h1>
    <form action="/add_new" method="post">
        <table>
            <tr>
                <td>
                    <p>Name:</p>
                </td>
                <td>
                    <input type="text" name="name">
                </td>
            </tr>
            <tr>
                <td>
                    <p>Age:</p>
                </td>
                <td>
                    <input type="text" name="age">
                </td>
            </tr>
            <tr>
                <td>
                    <p>Type:</p>
                </td>
                <td>
                    <input type="text" name="type">
                </td>
            </tr>
        </table>
        <button type="submit">submit</button>
    </form>
    <a href="/"><button>Go Back</button></a>
</body>
</html>